
.compromisso{
    display: flex;
    flex-direction:column ;
    margin: 1vh 1vw ;
    border-radius: 25px;
    background: rgba(57, 93, 253, 0.25);
}

.compromisso:hover{
    box-shadow: 0 0 10px black;
}

.compromisso .grid_compromisso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:auto;
    width: auto;
    
}

.compromisso .content_compromisso{
    padding: 20px;
    display: flex;
    height: 50vh;
    width: auto;
    border: solid 2px #230052;
    
}
    
.compromisso .content_compromisso .img_compromisso{
    margin-left: 0;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.compromisso .content_compromisso .img_compromisso img{    
    height: 20vh;
    
}

.compromisso .content_compromisso .text_compromisso{
    text-align: justify;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.compromisso .content_compromisso .text_compromisso h3,
.compromisso .content_compromisso .text_compromisso h2{
    text-align: center;
}

.compromisso .content_compromisso .text_compromisso h3 .fa-file-pdf-o{
    color: orange;
    font-size: large;
    transition: 0.5s;
    padding: 5px;
}

.compromisso .content_compromisso .text_compromisso h3 .fa-file-pdf-o:hover{
    font-size: 0.8em;
    color: white;
    background: linear-gradient(to bottom right, #791414, #791414, #ff6600);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

#right_last_content_compromisso{
    border-radius: 0 0 25px 0px;
}
#left_last_content_compromisso{
    border-radius: 0 0 0px 25px;
}

/*Mobile Responsive*/
@media(max-width: 1100px){
    
    .compromisso .grid_compromisso {
        display: flex;
        flex-direction: column;     
        height:auto;
        width: auto;
    }

    .compromisso .content_compromisso {
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: auto;
    }

    .compromisso .content_compromisso .img_compromisso{
        align-items: center;
        justify-content: center;
    }

    #last_content_compromisso{
        border-radius: 0 0 25px 25px;
    }
}
