
.compromisso{
    display: flex;
    flex-direction:column ;
    margin: 1vh 0 0 0 ;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.25);
}

.texto_motivo{
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 50px;

}

.texto_motivo p{
    font-size: 1.2em ;
    text-align: start;
    
}
.texto_motivo h2{
    text-align: center;
    padding: 30px;
    margin-top: -10px;
    font-size: 0.95em;
}
.texto_motivo h3{
    text-align: center;
    padding: 0px 30px;
    font-size: 0.95em;
}

.compromisso .grid_compromisso {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first second";
    max-height: auto;
    width: auto;
    
}

.compromisso .content_compromisso{
    padding: 2vh 4vw;
    display: flex;
    max-height: auto;   
    justify-content: start;
    align-items: center;
    width: auto;
    border-bottom: solid 2px #038966;
    
    
}
.button_expand{
    display: flex;
    text-align: center;
    justify-content: center;
}
.btn-primary{
    width: auto;
    padding: 15px;
    font-size: 1.3em;
    background: linear-gradient(to bottom right, #350a1f,#672f70 );
    border: none;
    color: white;
    transition: 0.7s;
    
}

.btn-primary:hover{
    background:linear-gradient(to bottom right, rgba(53, 10, 31,0.85),rgba(103, 47, 112,0.85));
    transform: scale(.95);
}

.compromisso .content_compromisso .img_compromisso img{    
    height: 7vh;
    
}

.compromisso .content_compromisso .text_compromisso{
    text-align: justify;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
}

.compromisso .content_compromisso .text_compromisso h3,
.compromisso .content_compromisso .text_compromisso h2{
    text-align: justify;
    line-height: 35px;
}


#right_last_content_compromisso{
    border-radius: 0 0 25px 0px;
}
#left_last_content_compromisso{
    border-radius: 0 0 0px 25px;
}


@media(min-width: 1600px){
    .texto_motivo{
        font-size: 1.4em ;
    }
}

/*Mobile Responsive*/
@media(max-width: 1100px){
    
    .compromisso .grid_compromisso {
        display: flex;
        flex-direction: column;     
        height:auto;
        width: auto;
    }

    .compromisso .content_compromisso {
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: auto;
    }

    .collapsible {      
        width: 100%;
      }

    .texto_motivo{
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .texto_motivo p{
        font-size: 1.2em ;
        text-align: center;
    }

    .texto_motivo h4{
        padding: 0;
        
    }

    .compromisso .content_compromisso{
        padding: 0;
        border: none;
        border-bottom: solid 2px #038966;
        text-align: justify;
        padding: 15px 0;        
    }

    .compromisso .content_compromisso p{ 
        padding: 0;
        text-align: justify;
        
    }
    

    .compromisso .content_compromisso .img_compromisso{
        align-items: center;
        justify-content: center;
    }

}
