.contribua{
    background-image: url(../img/Repeticao-de-grade-1.png);
    background-repeat: no-repeat;
    background-size: cover ;
    height:auto;  
  
    
}

.contribua .grid_contribua {
    display: grid;    
  grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contribua .grid_contribua h2{
    opacity: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
 
}

.title_mande-propostas hr{
    width: 23vw;

}

.text_motivo{
    display: flex;
    flex-direction: column;  
    height: auto;
    justify-content: center;
   
    color:white;
    text-align: justify;
    font-size: 1.8em;
    padding: 0 30px;
    font-weight: 700;
}



.buttonContribua{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    margin: 3vh 0;
    
}

.buttonContribua .buttonPart{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #000000; 
    background:linear-gradient(to bottom right, rgba(53, 10, 31,0.95),rgba(103, 47, 112,0.95));
    height: 3vh;
    width: auto;
    padding: 10px;
    transition: 0.7s;
    border-radius: 5px;
}

.buttonContribua .buttonPart a{
    text-decoration: none;
    color: white;
    font-size: 1.6em;
}

.buttonContribua h3{
    margin: 0;
}

.buttonContribua .buttonPart:hover{   
    background:linear-gradient(to bottom right, rgba(53, 10, 31,0.85),rgba(103, 47, 112,0.85));
    transform: scale(.98);
   
}

.grid-compartilhe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.div_input_proposta_nome{
    display: flex;
    flex-direction: column;  
    padding: 30px;
}

.email_input{
    margin-top: 5vh;
}

.div_input_proposta{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width:90%;
  
}

.div_proposta_proposta_enviar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_proposta {
    border: none;
    height: 5vh ;
    padding-left:10px;
    padding-right:10px;
    border-radius: 0 10px 0 10px;
    background: #672f70;
    color: white;

  }

.input_textarea{
    border: none;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 15px 0 15px;
    background: #672f70;
    color: white;    
    width: 90%;
}

#my-form{
    text-align: center;

}

.buttonSubmit{
    border: none;
    width: 10vw;
    margin: 10px;
    text-decoration: none;
    color: azure;
    background:linear-gradient(to bottom right, #350a1f,#672f70 );
    padding: 10px;
    border-radius: 10px;
    transition: 0.7s;
    box-shadow: 0 0 10px #000000;
}

  .buttonSubmit:hover{
    
    background:linear-gradient(to bottom right, rgba(53, 10, 31,0.85),rgba(103, 47, 112,0.85));
    transform: scale(.95);
   
}
#enviar{
    margin-bottom: 15px
    
}

.title_contribua h1{
    color: white;
   
}


.mobile_orientarion{
    display: none;
}


/*Mobile Responsive*/
@media(max-width: 1100px){
    
    .desktop_orientarion{
        display:none;
    }

    .mobile_orientarion{
        display:block;

    }


    .contribua .grid_contribua {
        display: flex;
        flex-direction: column;
        
    }

    .text_motivo{       
        text-align: center;
        font-size: 1.2em;
        padding: 30px;
        font-weight: 900;
    }     

    .input_proposta{
        margin: 10px;  
        height: 5vh      
    }
    
    .input_textarea{
        width: 80%;
        margin: 5px
    }
    
    .buttonSubmit{
        width: 80%;
    
    }

    .buttonPart p {
        margin-bottom: 0;
    }

    .text_motivo{
        border-radius: 0;
        
    }

    .title_contribua hr{
        width: 43vw;
    }



    .grid-compartilhe{
        display: flex;
        flex-direction: column;
    }
    .mande-propostas{        
        border-radius: 0 0 25px 25px;
    }     
    
}