*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
   
}


/*remove dotted line around the links*/
a, a:active, a:focus{

    outline: none;  

}

#conteudo .header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    position: sticky;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #791414;
    box-shadow: 0 0 30px black ;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

#conteudo .header a {
    text-decoration:none;
    color: white;
    padding: 15px 15px;
    transition: 0.7s;  
    font-size: 1.25em;
}

#conteudo .header .text_header a:hover{
    background-color: white; 
    color: #791414;
    border-radius: 15px; 
    
}

#conteudo .header .header_img img{
    height: 15vh;
    transition: 0.7s;
}


.arrow-top{
    font-size: 30px;
    color: #fff;
    background: rgba(0,0,0,0.2);
    position: fixed;
    display: none;
    right: 14px;
    bottom: 14px;
    z-index: 999;
    height: 45px;
    width: 45px;
    text-align: center;
    padding-top: 8px;
    line-height: 31px;
    transition: 0.7s;
}

.arrow-top a {
    transition: 0.7s;
    color: #2d2d2d;
    text-decoration: none;

}

.arrow-top:hover,
.arrow-top a:hover{   
    background: rgb(170, 0, 0);
    color: white;
}

.title{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    border-bottom: solid 5px #230052;
    font-size: 1.5em;
}
.title h1{
    background:#230052;
    border-radius: 0 25px 25px 0;
    margin: -10px;
    padding: 5px 20vw 5px 5vw;
}
.footer .div_footer{
    box-shadow: 0 0 30px black ;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    color: white;
}

.footer .div_footer .logo_psol{
    background:  linear-gradient(to right,#ff6600,#ff6600,#440d28);
    display: flex;    
    text-align: left;
    align-items: center;

}


.footer .div_footer .logo_psol a img{
    width: 50%;    
}


.footer .div_footer  .redes_sociais{
    background:  linear-gradient(to right,#440d28,#440d28);
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
}

.footer .div_footer  .redes_sociais_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer .div_footer  .redes_sociais_icons .fa-whatsapp{
    color: #1aa564;
}

.footer .div_footer  .redes_sociais_icons .fa-youtube-play{
    color: #FF0000;
}

.footer .div_footer  .redes_sociais_icons .fa-instagram{
    color: white;
}

.footer .div_footer  .redes_sociais_icons .fa-facebook-squar{
    color:  #4267B2;
}
.footer .div_footer  .redes_sociais_icons .fa:hover{
    transition: .5s;
    transform: scale(1.1);
}


.footer .div_footer  .copyright{
    background:linear-gradient(to right,#440d28,#3b248d,#3b248d);
    display: flex;    
    justify-content: flex-end;
    align-items: center;

}

.filiese{
    text-align: center;
    background: #1aa564;
}

.wrap-menu{
  display: none;
}

/*Mobile Responsive*/
@media(max-width: 1100px){

    #conteudo .header {
        display: flex;
        justify-content: space-between;
    }

    #conteudo .header .text_header{
        display: none;
    }  
   
    /*Mexendo no menu hamburger*/
    .wrap-menu{
        display: block;
    }   

    .btnMenu {
        display: block;
        padding: 20px 15px;
        font-size: 2em;  

    }       
    
    .menu{
        position: absolute;
        top: 0;
        width: 100vw;
        transform: translateX(-100%);
        transition: transform 200ms linear;
    }


    .menu_open{
        transform: translateX(0);
    }

    .fa-bars{
        font-size: 2em;  
    }

    .btnMenu_open{
        width: 4vw;       
        background-repeat: no-repeat;
        
        background-position: 15px center;
        
    }

    .btnMenu_close{
        background-color: #d42c2c;
        background-repeat: no-repeat;
        background-position: 15px center;
        font-size: 2em;  
        color: white;
        
    }

    .menu-item{
        padding: 20px 15px;
        border-bottom: 1px solid #000;
        background-color: #d42c2c;
    }

    .menu-item-action{
        font-size: 12px;
       
    }


    /*Fim menu Hamburger*/

    .title{
        height: 10vh;    
        font-size: medium;
        
    }

    .title h1{ 
        font-size: xx-large;
    }

    .footer .div_footer{
        display: flex;
        flex-direction: column;
        
    }

    .footer .div_footer .logo_psol{
        background:  linear-gradient(to bottom,#ff6600,#ff6600,#ff6600,#440d28);  
        text-align: center;

    }

    .footer .div_footer  .redes_sociais{
        background:  linear-gradient(to right,#440d28,#440d28);
        display: flex;
        flex-direction: column;
        font-size: 2.5em;
    }
    .footer .div_footer  .logo_pedro{
        background:linear-gradient(to bottom,#440d28,#3b248d,#3b248d,#3b248d);  
        justify-content: center;
        height: auto;
    }

    .footer .div_footer  .logo_pedro img{
        height: 90px;
    }

    .arrow-top{
        
        left:5px;
      
    }
}
