*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
   
}
body{
    background: rgb(224, 224, 224);
}

#conteudo .header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    position: sticky;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #791414;
    box-shadow: 0 0 30px 0 black ;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

#conteudo .header a {
    text-decoration:none;
    color: white;
    padding: 15px 15px;
    transition: 0.7s;  
    font-size: 1.25em;
}

#conteudo .header .text_header a:hover{
    background-color: white; 
    color: #791414;
    border-radius: 15px; 
    
}

#conteudo .header .header_img img{
    height: 15vh;
    transition: 0.7s;
}

.title{
    background: linear-gradient(to bottom right, #791414, #791414, #ff6600);
    height: 120px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-bottom: solid 5px #630000;
    font-size: 1.5em;
}


/*Mobile Responsive*/
@media(max-width: 1100px){

    #conteudo .header .text_header{
        display: none;
    }
    #conteudo .header .header_img img{
        height: 13vh;
        transition: 0.7s;
    }

    .title{
        height: 10vh;    
        font-size: medium;
        
    }

    .title h1{ 
        font-size: xx-large;
    }

   

}
