
.trajetoria{
    padding-top: 3vh;
}
.content_trajetoria{
    display: flex;
    flex-direction:row;
}

.carousel_trajetoria img{
    max-width: 50vw;
}

.text_trajetoria{
  
    font-size: 1.5em;
    max-width: 50vw;
    border:  solid 5px black;
}

