.trajetoria{
    padding-top: 3vh;
}
.content_trajetoria{
    display: flex;
    flex-direction:row;
    height: auto;
}

.carousel_trajetoria img{
    max-width: 50vw;
}

.text_trajetoria{
    height: auto; 
    font-size: 1.5em;
    max-width: 50vw;
    border:  solid 5px black;
}

.carousel_div{
  display: flex;
  border: solid 5px purple;
  height: auto;
  width: 100%;
}

.carousel_div .carousel-inner .item img{
    width: 50vw;
    height: 65vh;
    align-items: center;
}

.carousel-indicators{
    background: black
}

#myCarousel{
    display: flex;
    position: relative;
    align-items: center;  
 }
 
 #fixa{
    position: relative;
    width: 20%;
    height: 400px;
    background: black;
 }


