
.trajetoria{
    padding-top: 3vh;
}
.content_trajetoria{
    display: flex;
    flex-direction:row;
}

.carousel_trajetoria img{
    max-width: 50vw;
}

.text_trajetoria{
  
    font-size: 1.5em;
    max-width: 50vw;
    border:  solid 5px black;
}

.slidershow{
    position: relative;
    width: 700px;
    height: 400px;

    border: solid 5px black;
    
  }
  .middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid rgb(0, 0, 0);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;


    background: rgb(0, 0, 0);
  }
  .bar:hover{
    background: rgb(255, 255, 255);
  }
  
  input[name="r"]{
      visibility: hidden;
      position: absolute
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    transition: 0.6s;
    overflow: hidden;
  }
  .slide img{
    height: 100%;
    width: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  
