*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(fundopropostas.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#conteudo .header_propostas {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none ;
}

#conteudo .header_propostas .text_header{   
    padding-left: 30px;
    font-size: 3em;
    
}

#conteudo .header_propostas .text_header a{
    color: white;
}

#conteudo .header_propostas .text_header a:hover{
    color: #4b207a;
    background-color: #4b207a00; 
    border-radius:0;
    border: none
}

#conteudo .header_img img{
    padding-right: 30px ;
    transition: 0.5s;
}

#conteudo .header_img img:hover{
    transform: scale(0.9);
}

.content-propostas{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.text-propostas{
    font-size: 1.5em;
    padding: 50px;
    color: purple;
    
}

